<!DOCTYPE html>
<html>
    <head>    
        <title>Project 1</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid" style="margin-top: 25px; margin-left: 25px;">
            <div
              class="jumbotron display-1"
              style="background-color: inherit; text-align: center;"
              id="thanks"
            >Hi, {{details[0]}} {{details[1]}} Loged in with {{details[2]}}
            </div>
          </div>
          <form method = "post">
        <div class="col-sm-12">
            <button class="btn btn-warning" margin = "8px" formaction="{{ url_for('logout') }}">Logout</button>
      </div>
      </form>
    </body>
</html>